<% results.forEach(function(result) { %>
<li class="<%= result.className %>" data-info="<%= JSON.stringify({
      'rowKey': result.rowKey,
      'type': type,
      'subType': subType,
      'title': result.title
    }) %>"><a href="<%= result.url %>"><%= result.title || "No title available" %>
      <ul>
        <li class="graph"><button title="Displayed in Graph" href="#">Graph</button></li>
        <li class="map"><button title="Displayed in Map" href="#">Map</button></li>
      </ul>
      <div>
        <span class="date"><%= result.publishedDate ? new Date(result.publishedDate).toDateString() : '' %></span>
        <span class="source"><%= result.source || '' %></span>
      </div>
    </a>
</li>
<% }); %>
