<% results.forEach(function(result) { %>

<li class="<%= result.className %>" data-info="<%= JSON.stringify({
      '_rowKey': result._rowKey,
      'graphVertexId': result.graphVertexId,
      '_type': (_type == 'entity' ? result.properties._type : _type) ,
      '_subType': _subType,
      'title': result.title
    }) %>"><a href="<%= result.url %>"><%= result.title || "No title available" %>
      <ul>
        <li class="graph"><button title="Displayed in Graph" href="#">Graph</button></li>
        <li class="map"><button title="Displayed in Map" href="#">Map</button></li>
      </ul>
      <div>
        <span class="preview"/>
        <span class="date"><%= result.publishedDate ? new Date(result.publishedDate).toDateString() : '' %></span>
        <span class="source"><%= result.source || '' %></span>
      </div>
    </a>
</li>
<% }); %>
