<% results.forEach(function(result) { %>
    <li row-key="<%= result.rowKey %>" type="<%= type %>" sub-type="<%= subType %>">
        <a href="<%= result.url %>"><%= result.title %></a>
    </li>
<% }); %>
