<div class="btn-toolbar">
  <%- highlightButton %>
</div>

<h2>
<span class="node-to-node-relationship" data-graph-node-id="<%= sourceId %>" data-graph-node-type="<%= sourceType %>">
    <a href="javascript:" class="vertex">
        <%= sourceTitle %>
    </a> ->
</span>

<span class="node-to-node-relationship" data-graph-node-id="<%= targetId %>" data-graph-node-type="<%= targetType %>">
    <a href="javascript:" class="vertex" >
        <%= targetTitle %>
    </a>
</span>
</h2>
<h3>Properties</h3>
<div class="properties">
  <% properties.forEach(function(property) {%>
        <li>
        <%= property.key%>: <%= property.value%>
        </li>
      <%}); %>
</div>
