<div class="btn-toolbar">
  <%- highlightButton %>
</div>

<h2>
<% var data = JSON.stringify({
      graphNodeId : sourceId,
      title : sourceTitle,
      type : sourceType,
      rowKey : sourceRowKey,
      subType : sourceSubType}); %>

<span class="node-to-node-relationship generic-draggable fake-link" data-info='<%- data %>' >
        <%= sourceTitle %>
</span>

    ->

<% var data = JSON.stringify({
      graphNodeId : targetId,
      title : targetTitle,
      type : targetType,
      rowKey : targetRowKey,
      subType : targetSubType}); %>

<span class="node-to-node-relationship generic-draggable fake-link" data-info='<%- data %>'>
        <%= targetTitle %>
</span>
</h2>
<h3>Properties</h3>
<div class="properties">
  <% properties.forEach(function(property) {%>
        <li>
        <%= property.key%>: <%= property.value%>
        </li>
      <%}); %>
</div>
