<div class="btn-toolbar">
  <%- highlightButton %>
</div>

<h1>
<% var data = JSON.stringify({
      graphVertexId : relationshipData.sourceId,
      title : relationshipData.sourceTitle,
      _type : relationshipData.sourceType,
      _rowKey : relationshipData.sourceRowKey,
      _subType : relationshipData.sourceSubType}); %>

<span class="vertex-to-vertex-relationship generic-draggable fake-link" data-info='<%- data %>' >
        <%= relationshipData.sourceTitle || "No title available" %>
</span>

&#8674;

<% var data = JSON.stringify({
      graphVertexId : relationshipData.targetId,
      title : relationshipData.targetTitle,
      _type : relationshipData.targetType,
      _rowKey : relationshipData.targetRowKey,
      _subType : relationshipData.targetSubType}); %>

<span class="vertex-to-vertex-relationship generic-draggable fake-link" data-info='<%- data %>'>
        <%= relationshipData.targetTitle || "No title available" %>
</span>
</h1>

<ul class="nav nav-list nav-header">
  <li class="properties">Properties<span class="badge loading"/></li>
</ul>

<div class="buttons">
    <button class="add-relationship-properties btn btn-mini btn-default">Add Property</button>
</div>
