<div class="btn-toolbar">
  <%- highlightButton %>
</div>

<h2>
<% var data = JSON.stringify({
      graphVertexId : relationshipData.sourceId,
      title : relationshipData.sourceTitle,
      _type : relationshipData.sourceType,
      _rowKey : relationshipData.sourceRowKey,
      _subType : relationshipData.sourceSubType}); %>

<span class="vertex-to-vertex-relationship generic-draggable fake-link" data-info='<%- data %>' >
        <%= relationshipData.sourceTitle || "No title available" %>
</span>

->

<% var data = JSON.stringify({
      graphVertexId : relationshipData.targetId,
      title : relationshipData.targetTitle,
      _type : relationshipData.targetType,
      _rowKey : relationshipData.targetRowKey,
      _subType : relationshipData.targetSubType}); %>

<span class="vertex-to-vertex-relationship generic-draggable fake-link" data-info='<%- data %>'>
        <%= relationshipData.targetTitle || "No title available" %>
</span>
</h2>
<h3>Properties</h3>
<div class="properties">
  <% relationshipData.properties.forEach(function(property) {%>
        <li>
        <%= property.key%>: <%= property.value%>
        </li>
      <%}); %>
</div>
