
<li class="<%= vertex.className %> vertex-item" 
    data-info="<%= JSON.stringify(vertex) %>"
    ><a><%= vertex.title || "No title available" %>
      <ul>
        <li class="graph"><button title="Displayed in Graph" href="#">Graph</button></li>
        <li class="map"><button title="Displayed in Map" href="#">Map</button></li>
      </ul>
      <div>
        <span class="preview"/>
        <span class="date"><%= vertex.publishedDate ? new Date(vertex.publishedDate).toDateString() : '' %></span>
        <span class="source"><%= vertex.source || '' %></span>
      </div>
    </a>
</li>
