<div class="multiple">
  <h1><%= nodes.length %> objects selected</h1>

  <ul>
    <% nodes.forEach(function(node) { %>
    <li>
        <span class="<%- node.type == 'artifact' ? 'artifact' : 'entity' %> <%= node.subType %>" data-info='<%- JSON.stringify(node) %>'><%- node.originalTitle || node.title || 'No Title' %></span>
    </li>
    <% }); %>
  </ul>
</div>
