
<div class="btn-toolbar">

  <%- highlightButton %>

  <div class="btn-group">
    <a class="btn btn-small dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-share"></i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a class="" href="<%= artifact.rawUrl %>" target="_blank">Open <%= artifact.Generic_Metadata.file_extension %> <%= artifact.type %></a></li>
      <li><a class="" href="<%= artifact.rawUrl %>?download=true" target="_blank">Download <%= artifact.Generic_Metadata.file_extension %> <%= artifact.type %></a></li>
    </ul>
  </div>

  <%- fullscreenButton %>

</div>

<h1 class="generic-draggable artifact-title" data-vertex-id='<%= vertex.id %>'><%= vertex.properties.title %></h1>

<% if(artifact.type == 'video') { %>
  <div class="preview"/>
  <div class="currentTranscript"/>
<% } %>
<% if(artifact.type == 'image') { %>
  <div class="image-preview">
    <img class="target" src='<%= artifact.rawUrl %>' width="auto" height="300"/>
  </div>
<% } %>

<div class="artifact-header">
  <div class="properties">
    <div class="nav-header">Properties<span class="badge loading"/></div>
  </div>
</div>

<div class='detected-object-labels'>
  <% artifact.detectedObjects.forEach(function(object) {
    if (object.graphVertexId) {
        var classes = 'label-info detected-object resolved entity subType-' + object._subType;%>
        <span class="label detected-object-tag">
            <a class="<%= classes %> opens-dropdown" data-info="<%= JSON.stringify(object) %>" href="#"><%= object.title || object.info.concept %></a><a class="delete-tag">x</a>
        </span>
    <%} else { %>
    <span class="label detected-object-tag">
        <a class="label-info detected-object opens-dropdown" data-info="<%= JSON.stringify(object) %>" href="#"><%= object.info.title || object.info.concept %></a>
    </span>
  <% }}); %>
</div>

<div class="text"><%- artifact.contentHtml %></div>
