<ul>
<% if(relationships.length == 0) { %>
    <span>There are no relationships to display</span>
<% } %>
<% relationships.forEach(function(relationship) { %>

    <li class="relationship" data-info='<%= relationship.dataInfo %>'>
    <span class="<%= relationship.sourceVertex.cssClasses %>"
      data-info="<%= JSON.stringify(relationship.sourceVertex.properties) %>"
      ><%- relationship.sourceVertex.properties.title || 'No Title' %></span>
        <%= relationship.displayName %>
    <span class="<%= relationship.destVertex.cssClasses %>"
      data-info='<%= JSON.stringify(relationship.destVertex.properties) %>'
      ><%- relationship.destVertex.properties.title || 'No Title' %></span>
    </li>
<% }); %>
</ul>
