<div class="btn-toolbar">

  <% if(artifact.type != 'video') { %>
  <div class="btn-group">
    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
      Highlight
      <span class="caret"></span>
    </a>
    <ul class="highlight-options dropdown-menu">
      <% styles.forEach(function(style, i) { %>
      <li class="<%= i === activeStyle ? 'checked' : '' %>" data-cls="<%= style.cls || '' %>"><a href="#"><%= style.name %></a></li>
      <% }); %>
    </ul>
  </div>
  <% } %>

  <div class="btn-group">
    <a class="btn btn-small" href="<%= artifact.rawUrl %>" target="_blank">View</a>
    <a class="btn btn-small" href="<%= artifact.rawUrl %>?download=true" target="_blank">Download</a>
  </div>
</div>

<h2><%= artifact.Generic_Metadata.subject || 'No title available' %></h2>
<% if(artifact.Dynamic_Metadata && artifact.Dynamic_Metadata.latitude) { %>
    <b>Location:</b>
    <a class="map-coordinates" latitude="<%= artifact.Dynamic_Metadata.latitude %>" longitude="<%= artifact.Dynamic_Metadata.longitude %>">
        <%= artifact.Dynamic_Metadata.latitude %>, <%= artifact.Dynamic_Metadata.longitude %>
    </a>
    <br/>
<% } %>

<% if(artifact.type == 'video') { %>
  <div class="preview"/>
<% } %>
<% if(artifact.type == 'image') { %>
  <img src='<%= artifact.rawUrl %>' width="auto" height="300"/>
<% } %>

<div class="text"><%- artifact.contentHtml %></div>
