<h3>Mentions</h3>
<ul>
<% mentions.forEach(function(termMention) { %>
    <li>
        <a class="mention-artifact artifact" href="artifact/<%= termMention.artifactKey %>"
                    data-row-key="<%= termMention.artifactKey %>"
                    data-info="<%= JSON.stringify({
                        'rowKey': termMention.artifactKey,
                        'type': 'artifact',
                        'subType': (termMention['atc:artifactType'] || '').toLowerCase(),
                        'title': termMention['atc:artifactSubject'] || 'No title Available'
                    })%>">
            <h4><%= termMention['atc:artifactSubject'] %></h4>
        </a>
        <p>
            <%- termMention.highlightedSentenceText %>
        </p>
    </li>
<% }); %>
</ul>
<% if(offset >= limit && offset > 0) { %>
    <a href="entity/<%= key.value %>/<%= parseInt(offset) - parseInt(limit) %>/<%= limit %>" class="mention-request" data-key="<%= JSON.stringify(key) %>"> Previous </a>
<% }
if(limit == mentions.length) { %>
<a href="entity/<%= key.value %>/<%= parseInt(offset) + parseInt(limit) %>/<%= limit %>" class="mention-request" data-key="<%= JSON.stringify(key) %>"> Next </a>
<% } %>