<div class="btn-toolbar">
  <%- styleHtml %>
</div>

<h2><%= source.sign %> -> <%= target.sign %></h2>
<h3>Statements</h3>
<ul>
    <% sourceToTargetStatements.forEach(function(statement) { %>
      <li class="entity-to-entity-relationship collapsed" data-statement-row-key="<%= statement.key.value %>">
        <a href="javascript:" class="relationship-summary">
            <span
                class="entity <%= source.conceptLabel %>"
                data-info="<%= JSON.stringify({
                  'rowKey': source.value,
                  'type': 'entity',
                  'subType': source.conceptLabel
                }) %>"><%= source.sign %></span>
            <%= statement.key.predicateLabel.predicateLabel %>
            <span
                class="entity <%= target.conceptLabel %>"
                data-info="<%= JSON.stringify({
                  'rowKey': target.value,
                  'type': 'entity',
                  'subType': target.conceptLabel
                }) %>"><%= target.sign %></span>
        </a>
        <div class="artifact-excerpts"></div>
      </li>
    <% }); %>
</ul>

<% if (bidirectional) { %>
<h2><%= target.sign %> -> <%= source.sign %></h2>
<h3>Statements</h3>
<ul>
    <% targetToSourceStatements.forEach(function(statement) { %>
      <li class="entity-to-entity-relationship collapsed" data-statement-row-key="<%= statement.key.value %>">
        <a href="javascript:" class="relationship-summary">
            <span
                class="entity <%= target.conceptLabel %>"
                data-info="<%= JSON.stringify({
                  'rowKey': target.value,
                  'type': 'entity',
                  'subType': target.conceptLabel
                }) %>"><%= target.sign %></span>
            <%= statement.key.predicateLabel.predicateLabel %>
            <span
                class="entity <%= source.conceptLabel %>"
                data-info="<%= JSON.stringify({
                  'rowKey': source.value,
                  'type': 'entity',
                  'subType': source.conceptLabel
                }) %>"><%= source.sign %></span>
        </a>
        <div class="artifact-excerpts"></div>
      </li>
    <% }); %>
</ul>
<% }; %>