<% if (properties) { %>
  <ul class="nav nav-list">

    <% properties.forEach(function(property) { %>
      <% if(property.key == 'title') { return; } %>
      <li class="property property-<%= property.key %>">
      <strong><%= property.displayName %></strong>
      <% if(property.value.latitude) { %>
        <span class="value">
            <a href="#" class="map-coordinates" latitude="<%= property.value.latitude %>" longitude="<%= property.value.longitude %>">
                <%= property.value.title || (property.value.latitude + ', ' + property.value.longitude) %>
            </a>
        </span>
      <% } else { %>
        <span class="value"><%= property.value %></span>
      <% } %>
      </li>
    <% }); %>

    <li class="buttons">
      <button class="add-new-properties btn btn-mini btn-default">Add Property</button>
    </li>
  </ul>
<% } else { %>
  <div class="nav-header">Properties<span class="badge loading"/></div>
<% } %>
